#gameBoard {
  width: 600px; /* border:1px solid #000; */
  padding: 10px;
}
#gameBoard .card {
  width:100px;
  height:100px;
  background-color: green;
  float:left;
  margin:5px;
  cursor: pointer;
  font-size: 70px;
  color: #fff;
  text-align: center;
}


#gameBoard .card.open {
  background-color: #ddd;
  color: #000;
}
#gameBoard .card div {
  display: none;
}
#gameBoard .card.open div {
  display: block;
}

#gameBoard .card.good {
  background-color: #333;
  color: red;
}
