*
{
    padding: 0;
    margin: 0;
}

#score_form
{
    margin: 0 auto;
    text-align: center;
}

#score
{
    color: red;
}

#game_form
{
    width: 100%;
    border-top: 1px solid black;
}

#target
{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}