.box {
  border: 1px solid black;
  /* border-width: 1px;
  border-style: solid;
  border-color: #fff; */
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
#bug {
  width:20px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 35px;
  left: 35px;
}
.wrap {
  margin: 10px auto;
  width: 500px;
  
}
#point , #life {
  color: blue;
}