.wrap {

  width: 200px; 
}
.wrap > div{
  width: 50px;
  height: 50px;
  float: left;
}
.wrap .b {
  background-color: #000;
}
.wrap .w {
  background-color: red;
}
.wrap .y {
  background-color:yellow;
 
}